.mainpage {
  background-color:#fffade;
  display: flex;

  width: 100%;
  height: 862px;
  
  padding-top: 20px;
  /* margin-top: 20px; */
}

.search__component__title {
  font-size: 26px;
  color: #ffa512;
}

.mainpage__search__component {
  width: 80%;
}

.mainpage__list__component {
  width: 20%;
}

@media screen and (max-width: 768px){
  .mainpage {
    background-color:#fffade;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;
    margin-top: 0;
  }
  .search__component__title{
    margin:0;
  }

.mainpage__search__component {
  width: 100%;
}

.mainpage__list__component {
  width: 100%;
}
}