.mainpage {
  background-color:#fffade;
  display: flex;

  width: 100%;
  height: 874px;
  
  padding-top: 20px;
  /* margin-top: 20px; */
}

.search__component__title {
  font-size: 26px;
  color: #ffa512;
}

.mainpage__search__component {
  width: 80%;
}

.mainpage__list__component {
  width: 20%;
}

@media only screen and (min-device-width : 375px) and (max-device-width : 479px){
  .mainpage {
    background-color:#fffade;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    margin-top: 0;
  }

  .search__component__title{
    margin:0;
  }

  .mainpage__search__component {
    width: 100%;
  }

  .mainpage__list__component {
    width: 100%;
  }

  .mainpage > .list {
    margin-top: 12px;
  }

  .list{
    all: unset;
    width: 100%;
    margin: 96px 0 40px 0;
  }

  .loader__box__ifnull {
    font-size: 18px;
    height: 100%;
  }
}