.mapsearch__background{
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
}
.modal__search__content__container{
  width: 80%;
  height: 80%;
  background-color: white;
  margin: 5% 0 0 10%;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal__search__place__title{
  color: #FFA512;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  padding-top: 18px;
  padding-bottom: 22px;
  font-size: 28px;
  font-weight: 700;
}
.modal__search__region__conatiner{
  width: 70%;
  height: 6%;
  /* margin: 2% 0 0 15%; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main__select__region__name{
  color: #FFA512;
  font-size: 25px;
  font-weight: 700;
  /* margin-left: 10%; */
}
.main__select__region__input{
  border-radius: 20px;
  width: 300px;
  /* height: 90%; */
  /* margin-left: 10%; */
  color: rgb(94, 93, 93);
  border: 2px solid #a4a0a0;
  font-size: 16px;
  /* display: flex; */
  justify-content: center;
  padding: 10px 5px;

}
.main__select__region__search{
  all: unset;
  width: 26px;
  margin-left: -40px;
  /* background-color: lightgray;
  font-size: 17px;
  margin-left: -50px;
  border: none;
  border-radius: 20px;
  width: 8%;
  height: 80%; */
}
.main__select__region__search:hover{
  color: #FFA512;
  cursor: pointer;
}
.main__select__region__input:focus{
  border: 2px solid #FFA512;
  outline: none;
}
.modal__map__container{
  border: 1px solid #a4a0a0;
  border-radius: 20px;
  width: 80%;
  height: 70%;
  /* margin: 3% 0 0 10%; */
  margin: 20px;
}

#myMap {
  border-radius: 20px;
}

.modal__close{
  background-color: #FFA512;
  border: none;
  border-radius: 20px;
  width: 20%;
  height: 5%;
  font-size: 18px;
  font-weight: 700;
}
.modal__close:hover{
  color: white
}

@media screen and (max-width: 768px){
  .modal__search__content__container{
    width: 90%;
    margin: 5% 5%;
  }
  .main__select__region__search{
    border: none;
    border-radius: 20px;
  }
}
@media only screen and (min-device-width : 375px) and (max-device-width : 479px){

  .modal__search__content__container{
    top: 2%;
    margin-top: 68px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .modal__search__region__container {
    display: flex;
    padding: 0px 10px;
    justify-content: space-around;
    margin:0;
  }

  .modal__search__place__title{
    font-size: 20px;
    /* margin-left: 35%; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding-bottom: 24px;
  }
  .main__select__region__name{
    font-size: 16px;
    margin: 0;
    padding-left: 20px;
    padding-right: 5px;
  }
  .main__select__region__input{
    height: 30px;
    width: 160px;
    margin-left: 2%;
    font-size: 14px;
    padding-left: 10px;
  }
  .main__select__region__search{
    margin-left: -15%;
  }

  .modal__search__region__conatiner {
    width: 100%;
    margin: 0;
  }

  .modal__close{
    /* margin-top: 10%; */
  }
  .modal__map__container{
    margin: 2%;
    width: 96%;
  }

  /* .mapsearch__background > .svg-inline--fa {
    height: 400px;
  } */

  .mapsearch__background > .search__icon {
    padding: 0;
    /* padding: 5px 10px 0 0; */
  }
  .mapsearch__background > .svg-inline--fa.fa-w-16 {
    width: 0 !important;
  }
}