.cardslist {
  display: flex;
  flex-direction: column;

  /* height: 100%; */
  height: 650px;

  border: 2px solid #ffa512;
  border-radius: 20px;
  /* padding: 10px; */
  margin: 0px 20px;
  overflow-y: scroll;
  
}
.cardslist::-webkit-scrollbar{
  display: none;
}

.card__section {
  /* background: #ffb800;  fallback for old browsers */
  /* background: -webkit-linear-gradient(to bottom, #ffa512, #ffb800);  Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #ffa512, #ffb800); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.loader__box__ifnull {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 100%;
  font-size: 26px;
  font-weight: 600;
  color: #a4a0a0;

}