.card {
  font-size: 24px;
  padding: 10px 0px 0px 0px;
  margin: 5px 0px;
  /* margin: */
  /* border: 2px solid blue; */

}

.card__container {
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(to top, #ffdc6a, #ffb800);

  margin: 0px 15px;
  padding: 5px 10px;
}

.card__container.joined {
  /* border: 4px solid #ff6912; */
  background: linear-gradient(to top, #f87c0f, #ffa600);
}

.card__container.joined:hover {
  filter:brightness(0.85);
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}
.card__container:hover {
  filter: opacity(0.5);
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.card__hover__message {
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  /* margin-top: -10%; */
  height: 200px;
  width: 350px;

  /* height: 100%; */
}

.card__hover__message:hover {
  color: black;
  opacity: 1;
  height: 100%;
  z-index: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  padding-left: 10px;
}
.card__hover__message.joined:hover {
  color: white !important;
  opacity: 1;
  height: 100%;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 42px;
  font-weight: 600;
  padding-left: 10px;
}

.card__first__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px 0px;
}

.card__title {
  color: white;
  font-size: 28px;
  font-weight: 800;
  margin: 5px 15px;
}

.card__second__container {
  display: flex;
  /* justify-content: space-around; */
  width: 100%;
  padding: 5px 0px;

}

.card__region {
  display: flex;
  border: 3px solid #ffa512;
  border-radius: 40px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: #ffb800;
  padding: 5px 10px;
  align-items: center;
  text-align: center;
  /* width: 38%; */
  margin: 10px 10px;
  justify-content: center;
}

.card__date {
  display: flex;
  font-size: 19px;
  font-weight: 500;
  color: #4e4d4d;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px 10px;
  margin: 5px 10px;

}

.card__third__container {
  display: flex;
  width: 100%;
  padding: 5px 0px;
}

.card__time {
  display: flex;
  /* border: 3px solid #ffa512; */
  border-radius: 40px;
  font-size: 20px;
  font-weight: 500;
  color: #ffa512;
  background-color: white;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 24%;
  margin: 5px 13px;
  /* padding: 0px 10px; */

}

.card__headcount {
  display: flex;
  padding: 5px 0px;
  font-size: 22px;
  color: white;
  opacity: 70%;
  /* -webkit-text-stroke: black; */
  align-items: center;
  text-align: center;

  margin: 5px 10px;
}

.chat__exit__button{
  width: 30px;

  color: grey;
  font-size: 26px;
  font-weight: 600;

  z-index: 200;
}
.chat__exit__button.joined{
  width: 30px;

  color: white;
  font-size: 26px;
  font-weight: 600;

  z-index: 200;
}

@media only screen and (min-device-width : 375px) and (max-device-width : 479px){

  .card__second__container {
    padding: 0;
  }

  .card__region,
  .card__date {
    padding: 5px 10px;
    margin: 5px 5px;
    font-size: 18px;
  }

  .card__hover__message {
    width: 76%;
    height: 160px;
  }
}