.foodPreference {
  /* background-image: url('https://i.imgur.com/9ueRwbv.png');
  z-index: 1; */
  background-color: #FFFAED;
  height: 100vh;
  padding: 40px 0 40px 0;

  display: flex;
  justify-content: center;
}

.preference__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  /* padding: 20px; */

  width: 50%;
  height: 90%;
  border: 1px solid #FFA512;
  background-color: white;
  border-radius: 30px;
}

.preference__title {
  color: #FFA512;
  font-size: 32px;
  font-weight: 500;
  padding: 20px 0 20px 0;
}

.preference__list__container {
  display: flex;
  padding: 1%;
}

.preference__button__container {
  display: flex;
  padding: 1%;
  text-align: center;
  margin-bottom: 5%;
}

button:disabled {
  display: flex;
  all: unset;

  background-color: white;
  border: 4px solid #a4a0a0;
  color: #a4a0a0;
  font-size: 24px;
  padding : 10% 5% 10% 5%;

  width: 60px;
  border-radius: 20px;

  font-weight: 600;
}

button.preference__next {
  display: flex;
  all: unset;

  background-color: white;
  border: 4px solid #ffb800;
  color: #FFA512;
  font-size: 24px;
  padding : 10% 5% 10% 5%;

  width: 60px;
  border-radius: 20px;

  font-weight: 600;
}

button.preference__next:hover{
  display: flex;
  all: unset;

  background-color: #ffb800;
  border: 4px solid white;
  color: white;
  font-size: 24px;
  padding : 10% 5% 10% 5%;

  width: 60px;
  border-radius: 20px;

  font-weight: 600;
  cursor: pointer;
}

@media screen and (max-width: 768px){
  .foodPreference {
    padding-top: 20%;
  }
  .preference__title {
    font-size: 22px;
  }
  .preference__food:hover {
    font-size: 16px;
    margin: 1%;
  }
  .preference__food {
    font-size: 16px;
    border: 2px solid #FFA512;
    margin: 1%;
  }

  button:disabled {
    font-size: 18px;
    border: 3px solid #a4a0a0;
    padding: 10% 5% 10% 5%;
  }

  .preference__food.selected {
    font-size: 16px;
    margin: 1%;
  }
  .preference__food.selected:hover {
    font-size: 16px;
    margin: 1%;
  }

  .preference__next {
    all: unset;
    font-size: 18px;
    border: 3px solid #FFA512;
    padding: 10% 5% 10% 5%;
  }

  .preference__next:hover{
    font-size: 18px; 
    padding: 10% 5% 10% 5%;
  }
}

@media only screen and (min-device-width : 375px) and (max-device-width : 479px){
  .foodPreference {
    /* background-image: url('https://i.imgur.com/9ueRwbv.png');
    z-index: 1; */
    background-color: #FFFAED;
    height: 100%;
    padding: 100px 20px 40px 20px;
    display: flex;
    justify-content: center;
  }

  .preference__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  
    /* padding: 20px; */
  
    width: 100%;
    height: 80vh;
    border: 1px solid #FFA512;
    background-color: white;
    border-radius: 30px;
    margin: 20px 0 0 0;
  }

  .preference__title {
    color: #FFA512;
    font-size: 28px;
    font-weight: 500;
    padding: 32px 0 20px 0;
  }

  .preference__list__container {
    display: flex;
    padding: 0;
  }

  button.preference__next {
    display: flex;
    all: unset;
  
    background-color: white;
    border: 3px solid #ffb800;
    color: #FFA512;
    font-size: 18px;
    padding : 10px;
  
    width: 50px;
    border-radius: 20px;
  
    font-weight: 500;
  }
  
  button:disabled {
    display: flex;
    all: unset;
  
    background-color: white;
    border: 3px solid #a4a0a0;
    color: #a4a0a0;
    font-size: 18px;
    padding : 10px;
  
    width: 50px;
    border-radius: 20px;
  
    font-weight: 500;
  }
  
  button.preference__next:hover{
    display: flex;
    all: unset;
  
    background-color: #ffb800;
    border: 3px solid white;
    color: white;
    font-size: 18px;
    padding : 10px;
  
    width: 50px;
    border-radius: 20px;
  
    font-weight: 500;
    cursor: pointer;
  }

  .preference__button__container {
    display: flex;
    padding: 0px 0 20px 0;
    text-align: center;
  }
}