.matelist {
  height: 100%;
  background-color: white;
  width: 28%;
  margin: 0px 40px 0px 0px;
}

.matelist__header {
  height: 15%;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.matelist__header__title {
  font-size: 26px;
  font-weight: 600;
  color: #ffa512;
}

.matelist__header__text {
  font-size: 18px;
  color: #a4a0a0;
  font-weight: 500;
}

@media only screen and (min-device-width : 375px) and (max-device-width : 479px){
  .chatpage > .matelist {
    width: 65%;
    background-color: white;
    border: 4px solid #ffa512;
    border-radius: 20px;
    margin-right: 0;
    margin-bottom: 60px;
    padding-bottom: 40px;
    }

  .matelist__header {
    padding: 20px 0px 10px 0;
  }

  .matelist__header__title {
    padding: 5px 0px 15px 0px;
  }

  .matelist__header__text {
    padding: 5px 0px 15px 0px;
  }

}