.matelist {
  height: 100%;
  background-color: white;
  width: 28%;
  margin: 0px 40px 0px 0px;
}

.matelist__header {
  height: 15%;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.matelist__header__title {
  font-size: 26px;
  font-weight: 600;
  color: #ffa512;
}

.matelist__header__text {
  font-size: 18px;
  color: #a4a0a0;
  font-weight: 500;
}

@media screen and (max-width: 768px){
  .chatpage > .matelist {
    width: 65%;
    background-color: white;
    border: 4px solid #ffa512;
    border-radius: 20px;
    margin-right: 0;
    margin-bottom: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    }
}