.matelist {
  height: 100%;
  border: 4px solid khaki;

  width: 28%;
}

h3 {
  /* margin-top: -24px; */
}

.matelist__header {
  height: 15%;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

.matelist__header__title {
  font-size: 26px;
  color: #ffa512;

}

.matelist__header__text {
  font-size: 18px;
  color: #a4a0a0;
  font-weight: 500;
}
