.navigation__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffb800;
  padding: 8px 12px;
  /* height: 84px; */
}
Nav a {
  text-decoration: none;
  color: white;
  display: flex;
}

.navigation__toggle__hamburger{
  color: white;
}

a:hover {
  color: black;
}

.navigation__logo {
  background-image: url('../resource/maat-bab-logo-01.png');
  background-size: 100%;
  width: 50px;
  height: 40px;
  margin-left: 20px;
}

.navigation__menu__list {
  display: flex;
  justify-content: space-around;
  list-style: none;

  /* margin-left: 126px; */
  font-size: 20px;
}
.navigation__menu__list li {
  padding: 8px 20px;
}

.navigation__bar__buttons {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin-right: 12px;
}
.navigation__bar__buttons li {
  padding: 8px 12px;
}

.navigation__button {
  background-color: white;
  border: none;
  height: 30px;
  width: 90px;
  border-radius: 30px;
  color: #ffb800;
  font-weight: 800;
  font-size: 16px;
}
.navigation__menu {
  font-weight: 800;
  text-shadow: 4px 4px 4px rgb(190, 186, 173);
}
.navigation__menu:hover {
  color: black;
  cursor: pointer;
}
.navigation__button:hover {
  color: #ff7a00;
  cursor: pointer;
}

.navigation__toggle {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
}
@media screen and (max-width: 768px){
  .navigation__bar {
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
    padding: 8px 24px;
    position: fixed;
    width: 100%;
    z-index: 20;
    /* height: 64px; */
  }

  .navigation__logo {
    margin-left: 2px;
    padding-top: 2px;
  }

  .navigation__menu__list {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navigation__menu__list li {
    /* width: 100%; */
    text-align: center;
  }

  .navigation__bar__buttons {
    display: none;
    justify-content: center;
    width: 100%;
  }
  .navigation__toggle {
    display: block;
    position: absolute;
    right: 32px;
    font-size: 24px;
    padding-top: 5px;
  }

  .navigation__toggle__hamburger{
    color: white;
  }

  .navigation__menu__list.action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .navigation__menu__list.action,
  .navigation__bar__buttons.action {
    display: flex;
    padding-left: 0;
    text-align: center;
  }
}
@media only screen and (min-device-width : 375px) and (max-device-width : 479px){
  .navigation__bar {
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
    padding: 8px 24px;
    position: fixed;
    width: 100%;
    z-index: 20;
    /* height: 64px; */
  }

  .navigation__logo {
    margin-left: 2px;
    padding-top: 2px;
  }

  .navigation__menu__list {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navigation__menu__list li {
    /* width: 100%; */
    text-align: center;
  }

  .navigation__bar__buttons {
    display: none;
    justify-content: center;
    width: 100%;
  }
  .navigation__toggle {
    display: block;
    position: absolute;
    right: 32px;
    font-size: 24px;
    padding-top: 5px;
  }

  .navigation__toggle__hamburger{
    color: white;
  }

  .navigation__menu__list.action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .navigation__menu__list.action,
  .navigation__bar__buttons.action {
    display: flex;
    padding-left: 0;
    text-align: center;
  }
}
