.profilelist {
  display: flex;
  flex-direction: column;
  height: 650px;
  border: 3px solid#ffb800;
  border-radius: 20px;
  margin: 0px 20px;
  overflow-y: scroll;
}
.profilelist::-webkit-scrollbar{
  display: none;
}

.profile__section {
}

@media only screen and (min-device-width : 375px) and (max-device-width : 479px){

  .profilelist {
    
  }

  .profilelist > .loader__box__ifnull {
    font-size: 18px;
  }

}