.login__container{
  background-color: #FFFAED;
  height: 100vh;
  padding: 5% 0 0 25%;
}

.signin__content__container{
  width: 50vw;
  height: 85vh;
  border: 1px solid #FFA512;
  align-items: center;
  background-color: white;
  border-radius: 30px;
}
.signin__title{
  color: #FFA512;
  margin-left: 45%;
}
.signin__content__container__ul{
  list-style: none;
  width: 70%;
  height: 40%;
  margin-left: 13%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signin__name{
  font-weight: 500;
  font-size: 30px;
  color: gray;
  margin-top: 5%;
}
.signin__input{
  width: 30vw;
  height: 5vh;
  border-radius: 10px;
  margin-top: 3%;
  border: 1px solid gray;
  color: black;
}
.signin__input:focus{
  outline: none;
  border: 2px solid #FFA512;
}
.hide{
  display: none;
}
.signin__email__message{
  color: red;
}
.signin__link__signup{
  margin-left: 40%;
}
.signin__button__container{
  list-style: none;
  padding-left: 0;
  padding-inline-start: 0;
  /* width: 70%; */
  /* margin-left: 15%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signin__button__login{
  width: 235px;
  height: 51px;
  font-size: 20px;
  border-radius: 20px;
  font-weight: 700;
  border: 0.5px solid orange;
}
.signin__button__login__kakao{
  background-image: url('../resource/kakao_sync_login/complete/ko/kakao_login_medium_narrow.png');
  background-size: 100%;
  width: 235px;
  height: 51px;
  border: none;
  border: 0.5px solid yellow;
}
.signin__button__login{
  background-color: #FFA512;
  color: white;
}
.signin__button__login:hover{
  color: black;
  cursor: pointer;
}
.signin__button__login__kakao:hover{
  color: #FFA512;
  cursor: pointer;
}
.signin__button__li{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* padding-left: 20%; */
  padding-top: 2%;
}
.signin__button__google__login{
  width: 235px;
  height: 51px;
  background-image: url(../resource/google_signin_buttons/web/2x/btn_google_signin_light_normal_web@2x.png);
  background-size: 100%;
  border: 0.5px solid lightgray;
}
.signin__button__google__login:hover{
  background-image: url('../resource/google_signin_buttons/web/2x/btn_google_signin_dark_normal_web@2x.png');
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .signin__content__container{
    width: 100vw;
    height: 100%;
    border-radius: 0;
  }
  .login__container{
    padding: 0;
    z-index: -1000;
    width: 90vh;
    padding-top: 7%;
  }
  .signin__input{
    width: 60vw;
  }
  .signin__button__login,
  .signin__button__login__kakao,
  .signin__button__google__login{
    width: 200px;
    height: 43px;
  }
}
@media only screen and (min-device-width : 375px) and (max-device-width : 479px){
  .login__container{
    width: 50vw;
  }
  .signin__button__li{
    padding: 2% 0 0 0;
  }
}